* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/abs-g55040b32f_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}